/* CSS declarations go here */
/* via sass kan vi få ut ranom mellan 0 och 1 */

.table {
	background:#cecece;
	height:500px;
	width:500px;
}
	.card {
		background:#fff;
		height: 20%;
		width: 25%;
	}